@import 'mixins/border'

.Banner
  background-color #EFEFEF
  border-bottom 1px solid #DDD
  padding 10px 5px 10px 5px

  .title
    display inline-block
    width 120px
    text-align center
    font-size 18px
    line-height 10px
    font-variant small-caps

  input.searchInput
    border none
    border-radius 2px
    font-size 14px
    padding 4px 6px 4px
    margin 0 0 0 10px
    outline none
    width 50%

  .searchButton
    margin 0 0 0 5px
    color #666

